In [1]:
input('enter your input')

enter your inputjang

'jang'

In [2]:
print("Hello, Python!")
print("Python is really agreat language,", "isn't it?")

Hello, Python!
Python is really agreat language, isn't it?

# LAB1

In [13]:
print("Twinkle, Ttwinkle, little star, \
   \n\tHow I wonder what you are!")
print("\t\tup above the world so high,")
print("\t\tLike a diamond in the sky.")
print("Twinkle, Ttwinkle, little star,")
print("\tHow I wonder what you are!")

Twinkle, Ttwinkle, little star,
	How I wonder what you are!
		up above the world so high,
		Like a diamond in the sky.
Twinkle, Ttwinkle, little star,
	How I wonder what you are!

In [15]:
x = 1 
y= 35656222.554887711
z = 3255522j

print (type(x))
print (type(y))
print (type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [17]:
a = 3
b = 4
a%b
b%a
# a//b
# a**b

0

In [23]:
a = "three"
print("i eat  apples %s days." % a)

i eat  apples three days.

In [26]:
print("%10s" % "hi")
print("%-10s" % "hi")
print(round(3.456544545, 2))
print("%.2f" % 3.456544545)

        hi
hi
3.46
3.46

In [38]:
format_string = "Hello"
name = input("what is your name : ")
pre = input("what is your balance : ")
balance = float(pre)
print("%s, %s, Your current balance is $%.2f."  %(format_string, name, balance))

what is your name : james
what is your balance : 15.33
Hello, james, Your current balance is $15.33.

In [39]:
format_string = "Hello"
name = input("what is your name : ")
pre = input("what is your balance : ")
balance = float(pre)
print("{}, {}, Your current balance is $%{}."  .format(format_string, name, balance))

what is your name : james
what is your balance : 15.222
Hello, james, Your current balance is $%15.222.

In [43]:
#[예제문제]  사용자에게 (이름, 나이)를 물은뒤 100살이 되는 년도 출력 
# input 2가지 : 이름(str-type) , 나이(int - type)
name = input("what is your name: ")
age = input("what is your age: ")
type(age)
years = 2023 + (100 - int(age))

print("Hi {}, {} year is when you're age become 100!" .format(name, years))

what is your name: james
what is your age: 11

str

In [19]:
# input (2) : float[2] // height, weight 
height = float(input("insert your Height: "))
weight = float(input("insert your weight: "))

#height = input("insert your Height: ")
#weight = input("insert your weight: ")

bmi = weight / ((height/100)**2)
print("your bmi is %.2f" %bmi)

insert your Height: 165
insert your weight: 78
your bmi is 28.65

In [2]:
income = float(input("Enter the gross income: "))
dependents = int(input("Enter the number of dependents: "))

std_dec = 10000
add_dec = 3000 * dependents
tax = (0.2) * income - (std_dec + add_dec)

print("The income tax is $%.2f" % tax)

Enter the gross income: 150000
Enter the number of dependents: 3
The income tax is $11000.00

In [2]:
thislist = ["aa", "bb", "cc", "dd", "ee"]
print(thislist)
#len(thislist)
#len(thislist)
#print(len)
#print(thislist[-1])
#thislist[1:3]
#thislist[-4:-2]

['aa', 'bb', 'cc', 'dd', 'ee']

5

In [7]:
thislist.remove('aa')

In [8]:
thislist

['zz', 'cc', 'dd', 'ee']

In [11]:
#튜플
tuple1 = ('app' , 'bana', 'cher')

In [12]:
tuple1

('app', 'bana', 'cher')

In [13]:
tuple2 = ('app2' , 'bana2', 'cher2')

In [14]:
tuple1 + tuple2

('app', 'bana', 'cher', 'app2', 'bana2', 'cher2')

In [ ]:
#딕션너리

In [15]:
dict1 = {'brand': 'ford', 
        'model' : 'mustang', 
        'year' : 1964}
type(dict1)

dict

In [16]:
dict1['model']

'mustang'

In [17]:
dict1.get('model')

'mustang'

In [18]:
dict1['year'] = 2019
dict1

{'brand': 'ford', 'model': 'mustang', 'year': 2019}

In [19]:
len(dict1)

3

In [20]:
dict1['color'] = 'navy'
dict1

{'brand': 'ford', 'model': 'mustang', 'year': 2019, 'color': 'navy'}

In [21]:
dict1.pop('model')

'mustang'

In [22]:
dict1

{'brand': 'ford', 'year': 2019, 'color': 'navy'}

In [23]:
del dict1['year']

In [24]:
dict1

{'brand': 'ford', 'color': 'navy'}

In [25]:
dict_source = dict1.copy()

In [26]:
dict(dict1)

{'brand': 'ford', 'color': 'navy'}

In [27]:
dict1.clear

In [28]:
del dict1

In [30]:
dict_source

{'brand': 'ford', 'color': 'navy'}

In [31]:
#SPLIT 사용하는 문제 
seq = input('숫자 배열을 입력하세요: ')
lst = seq.split(',')
print('list: ', lst)
print('duple: ', tuple(lst))

숫자 배열을 입력하세요: 1,2,3,4
list:  ['1', '2', '3', '4']
duple:  ('1', '2', '3', '4')

In [40]:
#input : 2개 이상의 문자열; 
#split으로 단어를 나누기; 
arr = input('문자열을 입력하세요: ')
print(arr.split(' ')[1].upper())
#바뀐 문장이 저장되지 않음; 
#다시
new_word = arr.split(' ')[1].upper()
sec_arr = arr
sec_arr.insert(1, new_word)
sec_arr.remove('bur')
' '.join(sec_arr) 
#.split(' ')[1].upper()
print(sec_arr)
#list를 하나의 문자열로 합칠때
#.join(sent.split(' '))
#print(arr)
#arr[1]

문자열을 입력하세요: ham bur ger
BUR

AttributeError: 'str' object has no attribute 'insert'

In [45]:
smaple_data = ["this is better"]
sample_data1 = sample_data.split(' ')
sample_split1[1] = second_word
' '.join(sample_split)

NameError: name 'sample_data' is not defined

In [49]:
# python의 조건문 
# python에서는 ':'표기를 해주어야 한다! 
your_gpa = float(input("input your GPA: "))
if your_gpa > 2.0: 
    print("your application is accepted!")
else: 
    print("saddly... your application is denied")

input your GPA: 1.2
saddly... your application is denied

In [51]:
# python의 조건문 
# python에서는 ':'표기를 해주어야 한다! 
num = int(input("input integer number: "))
if ((num % 2) ==  0): 
    print("your num is even")
else: 
    print("your num is odd")

input integer number: 4
your num is even

In [54]:
num = -1
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Negative number

In [61]:
#1 + 1 == 2 #True
#3.2 != 2.5 #True
#10 < 5 #False
#10 > 5 #True
#126 <= 100 #False
5.0 >= 5.0 #True

True

In [65]:
#9 != 6 and 2 < 3 #True
#2 == 3 or 1 < 5 #True
not (7 > 0) #False

False

In [67]:
9 != 6

True

In [1]:
grade = int(input('Enter the numeric grade: '))
cal_grade = grade / 10 

#1-st solution
#if cal_grade >= 9 : 
 #   print('The letter grade is A')
#elif cal_grade <9 and cal_grade > 8 : 
 #   print('The letter grade is B')
#elif cal_grade <8 and cal_grade > 7 : 
 #   print('The letter grade is C')
#elif cal_grade <7 and cal_grade > 6 : 
 #   print('The letter grade is D')
#else :
 #  print('The letter grade is F')

#2-nd solution 

if cal_grade >= 9 : 
   letter_grade = 'A'
elif cal_grade <9 and cal_grade > 8 : 
    letter_grade = 'B'
elif cal_grade <8 and cal_grade > 7 : 
        letter_grade = 'C'
elif cal_grade <7 and cal_grade > 6 : 
        letter_grade = 'D'
else :
      letter_grade = 'F'

print('The letter grade is: ', letter_grade)

Enter the numeric grade: 99
The letter grade is:  A

In [9]:
input_str = '10,14,17'
num = input_str.split(',')
max_num = int(num[0])

if max_num < int(num[1]):
    max_num = int(num[1])
if max_num < int(num[2]):
    max_num = int(num[2])

print('가장 큰 숫자는 {}와 {}와 {} 중 {} 입니다.'.format(num[0], num[1], num[2], max_num))

가장 큰 숫자는 10와 14와 17 중 17 입니다.

In [8]:
num_str = input('insert integer number array ').split(' ')
max = (int)num_str[0]


size = len(num_str)
count = 0 

while count < size :
    if max < num_str[count]: 
        max = num_str[count]
    count += 1
    
print(num_str)
print('가장큰 수  %d ' % max)

insert integer number array 1 2 8

ValueError: invalid literal for int() with base 10: '1 2 8'

In [9]:
print("Select options \n1.ADD \n2.sub\n3.mul\n4,div ")

mode = int(input("Enter choice (1~4): "))
first = int(input("first num: "))
sec = int(input("second num: "))

if mode == 1:
    print("{} + {} = {}" .format(first, sec, first + sec))
elif mode == 2 :
    print("{} - {} = {}" .format(first, sec, first - sec))
elif mode == 3 :
    print("{} * {} = {}" .format(first, sec, first * sec))
else :
    print("{} / {} = {}" .format(first, sec, first / sec))

Select options
1.ADD
2.sub
3.mul
4,div
Enter choice (1~4): 4
first num: 8
second num: 2
8 / 2 = 4.0

In [11]:
number = 1 

while number < 200 :
    print(number)
    number *= 2

1
2
4
8
16
32
64
128

In [ ]:
#for loop

In [12]:
a = ['cat', 'window', 'defenestrate']
for x in a:
    print(x, len (x))

cat 3
window 6
defenestrate 12

In [15]:
for x in range(1, 10, 2):
    print( x, "squared is", x * x)

1 squared is 1
3 squared is 9
5 squared is 25
7 squared is 49
9 squared is 81

In [17]:
for x in range(10, 1, -2):
    print( x, "squared is", x * x)

10 squared is 100
8 squared is 64
6 squared is 36
4 squared is 16
2 squared is 4

In [26]:
num_str = input('insert integer number array ').split(' ')
size = len(num_str)

max = num_str[0]
for count in range(0, size):
    if(max < num_str[count]):
        max = num_str[count]
        
print(max)

insert integer number array 1 2 4 8 1
8

In [29]:
#cumulative loop :합산 
sum = 0
for i in range(1, 11):
    sum += (i * i ) #or sum += i * i
    print(sum)
print("sum of first 10 squares is", sum)

1
5
14
30
55
91
140
204
285
385
sum of first 10 squares is 385

In [32]:
#nested loop 
adj = ['red', 'big', 'tasty']
fruits = ['apple', 'banana', 'orange']

#adj, fruits #tuple로 나옴

for x in adj: 
    for y in fruits: 
        print(x, y)

(['red', 'big', 'tasty'], ['apple', 'banana', 'orange'])

In [36]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break
    print(x)

apple

In [42]:
input = [1990, 1991, 1994, 1990, 1992, 1996]
num = input.split(',')
size = len(num)

for x in range(0,size): 
    num[x] = 2023 - num[x]

print(num)

AttributeError: 'list' object has no attribute 'split'

In [44]:
input = [1990, 1991, 1994, 1990, 1992, 1996]
op = []

for i in input: 
    op.append(2023 - i)
    
print(op)

[33, 32, 29, 33, 31, 27]

In [48]:
year = [1990, 1991, 1994, 1990, 1992, 1996]
age = [2023 - x for x in year]
age

[33, 32, 29, 33, 31, 27]

In [61]:
num = [1, 2, -8, 0]
sum = 0 
max = num[0]

for i in num:
    sum += i
    if(max < i): 
        max = i 
    
print("sum : %d"  %sum)
print("max : %d"  %max)

sum : -5
max : 2

In [64]:
#데이타 타입 변환; 
for k in range(0,len(new_num)):
    num.pop()


num = input("Enter your numbers: ")
new_num = num.split(',')

for j in range (0, len(new_num)): 
    new_num[j] = int(new_num[j])
    
sum = 0
for i in range(0, len(new_num)): 
    sum += new_num[i]

print(sum)

NameError: name 'new_num' is not defined

In [67]:
in_num = input("Enter integer num").split(' ')

for i in range (0, len(in_num)): 
    in_num[i] = int(in_num[i]) 

max = in_num[0]
for j in range (0, len(in_num)):
        if(max < in_num[j]): 
            max = in_num[j] 
print(max)

TypeError: 'list' object is not callable